<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>jgarofoli@github</title>

        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% if page.includemath %}
        <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        {% endif %}
    </head>
    <body>
        <div class="wrapper">
            <header>
            <a href="/">
            <img style="border-radius:115px;" height="230" src="https://avatars0.githubusercontent.com/u/1741203?v=3&s=460">
            </a>
            <h1>Justin Garofoli<br/><a href="/">jgarofoli@github</a></h1>
            <p class="view"><a href="https://github.com/jgarofoli">github profile</a></p>
            {% if page.path contains "_posts" %}
            <h3>note-taking</h3>
            {%else%}
            <h3>base-station</h3>
            {%endif%}

            <p>
            <a href="/about.html">about</a><br/>
            <a href="/getout/">get out</a><br/>
            <a href="/notes.html">notes</a>
            </p>
            {% include blognav.html %}

            <p style="padding-top: 20px;">META</br>
            <a href="https://github.com/jgarofoli/jgarofoli.github.io/tree/master/{{page.path}}">source file</a>
            </p>

            </header>
            <section>

            {{ content }}

            </section>
            <footer>
            </footer>
        </div>
        <script src="javascripts/scale.fix.js"></script>

    </body>
</html>
